<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93828672695-cqieg7nm936ckfc8r85kkuu80ec20ahc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93828672695-cqieg7nm936ckfc8r85kkuu80ec20ahc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93828672695-ihuqr2pn6d3aeekg05503n49iiv8nvjk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOk1z8Pm-loVRWVMiZZHEyx0x7Pr9VAKk</string>
	<key>GCM_SENDER_ID</key>
	<string>93828672695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.themepark</string>
	<key>PROJECT_ID</key>
	<string>themepark-1759f</string>
	<key>STORAGE_BUCKET</key>
	<string>themepark-1759f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93828672695:ios:f39104efae566f6d30b132</string>
</dict>
</plist>